In [1]:
import pandas as pd

/var/folders/mj/7nyq31_95jx9zj4dg7gw56dr0000gn/T/ipykernel_54147/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [3]:
%config IPCompleter.greedy=True

In [4]:
df = pd.read_csv("yellow_tripdata_2019-01.csv", nrows=100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [6]:
dfSQLTable = pd.io.sql.get_schema(df, name="yellow_taxi_data")
print(dfSQLTable)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
df.tpep_pickup_datetime

0    2019-01-01 00:46:40
1    2019-01-01 00:59:47
2    2018-12-21 13:48:30
3    2018-11-28 15:52:25
4    2018-11-28 15:56:57
             ...
95   2019-01-01 00:02:06
96   2019-01-01 00:24:57
97   2019-01-01 00:46:09
98   2019-01-01 00:16:07
99   2019-01-01 00:23:47
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [9]:
import sqlalchemy

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [12]:
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [14]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 16.7 ms, sys: 1.94 ms, total: 18.7 ms
Wall time: 53.1 ms

100

In [16]:
from time import time

In [18]:
df_iter = pd.read_csv('yellow_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [19]:
while True:
    start_time = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    end_time = time()
    print('adding in new chunk..time taken %.3f' % (end_time - start_time))

adding in new chunk..time taken 17.642
adding in new chunk..time taken 15.887
adding in new chunk..time taken 16.832
adding in new chunk..time taken 15.909
adding in new chunk..time taken 18.589
adding in new chunk..time taken 16.880
adding in new chunk..time taken 19.486
adding in new chunk..time taken 17.937
adding in new chunk..time taken 17.020
adding in new chunk..time taken 17.011
adding in new chunk..time taken 19.091
adding in new chunk..time taken 21.151
adding in new chunk..time taken 17.715
adding in new chunk..time taken 16.911
adding in new chunk..time taken 18.790
adding in new chunk..time taken 18.672
adding in new chunk..time taken 16.650
adding in new chunk..time taken 18.312
adding in new chunk..time taken 18.348
adding in new chunk..time taken 22.258
adding in new chunk..time taken 25.745
adding in new chunk..time taken 20.768
adding in new chunk..time taken 21.274
adding in new chunk..time taken 20.355
adding in new chunk..time taken 18.124
adding in new chunk..time taken 19.612
adding in new chunk..time taken 23.836
adding in new chunk..time taken 27.957
adding in new chunk..time taken 23.435
adding in new chunk..time taken 25.403
adding in new chunk..time taken 25.188
adding in new chunk..time taken 27.467
adding in new chunk..time taken 25.326
adding in new chunk..time taken 18.748
adding in new chunk..time taken 20.764
adding in new chunk..time taken 22.391
adding in new chunk..time taken 19.219
adding in new chunk..time taken 18.931
adding in new chunk..time taken 17.936
adding in new chunk..time taken 17.750
adding in new chunk..time taken 16.548
adding in new chunk..time taken 17.795
adding in new chunk..time taken 17.520
adding in new chunk..time taken 17.561
adding in new chunk..time taken 20.840
adding in new chunk..time taken 19.024
adding in new chunk..time taken 19.720
adding in new chunk..time taken 22.974
adding in new chunk..time taken 18.098
adding in new chunk..time taken 18.638
adding in new chunk..time taken 17.221
adding in new chunk..time taken 17.547
adding in new chunk..time taken 16.709
adding in new chunk..time taken 17.925
adding in new chunk..time taken 18.594
adding in new chunk..time taken 17.133
adding in new chunk..time taken 16.935
adding in new chunk..time taken 16.940
adding in new chunk..time taken 16.670
adding in new chunk..time taken 15.987
adding in new chunk..time taken 17.330
adding in new chunk..time taken 17.291
adding in new chunk..time taken 17.420
adding in new chunk..time taken 20.197
adding in new chunk..time taken 17.767
adding in new chunk..time taken 17.668
adding in new chunk..time taken 18.693
adding in new chunk..time taken 19.624
adding in new chunk..time taken 17.133
adding in new chunk..time taken 17.156
adding in new chunk..time taken 17.177
adding in new chunk..time taken 18.470
adding in new chunk..time taken 17.071
adding in new chunk..time taken 16.241
adding in new chunk..time taken 16.555
adding in new chunk..time taken 16.952
adding in new chunk..time taken 11.350

StopIteration:

In [20]:
#same as \dt in pgcli
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
schemaname != 'information_schema';

"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [22]:
query = """
SELECT COUNT (1)
FROM yellow_taxi_data;
"""
pd.read_sql(query, con=engine)

     count
0  7667992